@import 'variables';

#local {
    width: 100%;
    background-color: $primary-color;
    display:flex;
    justify-content: center;  
}

.wrapper-local {
    justify-content: center;
}

#img-mapa {
    width: 100%;
    height: auto;
}
