@import 'variables';

#local {
    width: 100%;
    background-color: $primary-color;
    display:flex;
    justify-content: center;  
    gap: 3rem;
}

.wrapper-local {
    margin-left:100px;
}

#img-mapa {
    height: auto;    
    padding-bottom: 2rem;
}
