@import 'variables';

footer {
    min-height: $footer-min-height;

    p {
    color: $primary-color;
    text-align: center;
    }
}

#iconos i {
    font-size: 26px;
    padding: 0 8px;
    color: $icon-color;
}