@import 'variables';

.grid {
    background-color: $primary-color;
    display: grid;
    padding: 4rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
      "item1 item2"
      "item1 item3";
    gap: 2rem;
  
    &__item {
      color: white;
  
      &1 {
        grid-area: item1;
      }
  
      &2 {
        grid-area: item2;
      }
  
      &3 {
        grid-area: item3;
      }
  
      h4 {
        text-align: center;
      }
    }
  }