$font-family: 'Montserrat', sans-serif;
$primary-color: #044726;
$max-carousel-height: 40rem;
$footer-min-height: 100px;
$icon-color: $primary-color;
$border-color: $primary-color;
$grid-background: $primary-color;